*~
*.elc
.cask
.DS_Store
.emacs.desktop
.emacs.desktop.lock
.smex-items
auto-save-list
recentf
savehist
saveplace
eshell
elpa
el-get
semanticdb
url
ede-projects.el
places
savefile/
snippets
projectile-bookmarks.eld
session*
server
tramp
/var/pcache
