*~
*.elc
.emacs.desktop
.emacs.desktop.lock
auto-save-list
recentf
savehist
saveplace
eshell
elpa
el-get
semanticdb
url
ede-projects.el
.DS_Store
# custom.el
.\#custom.el
places
.smex-items
savefile/
server/server
/prelude-modules.el
projectile-bookmarks.eld
session*
.cask
tramp
/var/pcache
